<%- include _layout/header.ejs %>
<div class="wrapper text-page">
    <div class="text-content">
        <h2>Соглашение об использовании сайта for ENG</h2>
        <p>
            Внимательно прочитайте настоящее Соглашение, прежде чем начать пользоваться Сайтом. Вы&nbsp;обязаны
            соблюдать
            условия настоящего Соглашения, заходя на&nbsp;Сайт и&nbsp;используя сервисы предлагаемые на&nbsp;Сайте. В&nbsp;случае,
            если&nbsp;Вы не&nbsp;согласны с&nbsp;условиями Соглашения, Вы&nbsp;не&nbsp;можете пользоваться Сайтом или
            использовать любые сервисы, предлагаемые на&nbsp;Сайте, а&nbsp;также посещать страницы, размещенные в&nbsp;доменной
            зоне Сайта. Начало использования Сайта означает надлежащее заключение настоящего Соглашения и&nbsp;Ваше
            полное
            согласие со&nbsp;всеми его условиями.
        </p>
        <p>
            <b>1. Термины и&nbsp;определения</b>
        </p>
        <p>
            1.1. Компания&nbsp;— Общество с&nbsp;ограниченной ответственностью «Сибирикс» (ООО «Сибирикс»).
        </p>
        <p>
            1.2. Пользователь&nbsp;— лицо, получающее доступ к&nbsp;сервисам и&nbsp;информации, размещенным на&nbsp;Сайте.
        </p>
        <p>
            1.3. Сайт&nbsp;— веб-сайт Компании, размещенный в&nbsp;сети Интернет по&nbsp;адресу www. sibirix.&nbsp;ru, в&nbsp;том
            числе поддомены ***.sibirix.&nbsp;ru.
        </p>
        <p>
            1.4. Соглашение&nbsp;— настоящее Соглашение между Пользователем и&nbsp;Компанией, устанавливающее правила
            использования Сайта, включая графические изображения и&nbsp;аудиовизуальную продукцию, элементы дизайна и&nbsp;средства
            индивидуализации, текстовую информацию и&nbsp;документацию, программы для ЭВМ и&nbsp;файлы для скачивания,
            любые
            иные произведения, объекты и&nbsp;материалы Сайта, а&nbsp;также условия и&nbsp;правила размещения
            Пользователем
            информации и&nbsp;материалов в&nbsp;соответствующих открытых разделах Сайта.
        </p>
        <p>
            <b>2. Общие положения и&nbsp;условия</b>
        </p>
        <p>
            2.1. Любые материалы, файлы и&nbsp;сервисы, содержащиеся на&nbsp;Сайте, не&nbsp;могут быть воспроизведены в&nbsp;какой-либо
            форме, каким-либо способом, полностью или частично без предварительного письменного разрешения Компании, за&nbsp;исключением
            случаев, указанных в&nbsp;настоящем Соглашении. При воспроизведении Пользователем материалов Сайта, включая
            охраняемые авторские произведения, ссылка на&nbsp;Сайт обязательна, при этом текст указанной ссылки не&nbsp;должен
            содержать ложную, вводящую в&nbsp;заблуждение, уничижительную или оскорбительную информацию. Перевод,
            переработка
            (модификация), любое изменение материалов Сайта, а&nbsp;также любые иные действия, в&nbsp;том числе
            удаление,
            изменение малозаметной информации и&nbsp;сведений об&nbsp;авторских правах и&nbsp;правообладателях, не&nbsp;допускается.
        </p>
        <p>
            2.2. Действующая редакция настоящего Соглашения размещена в&nbsp;сети Интернет на&nbsp;Сайте. Компания
            вправе в&nbsp;любое
            время в&nbsp;одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в&nbsp;силу
            по&nbsp;истечении&nbsp;2
            (двух) дней с&nbsp;момента размещения новой версии Соглашения в&nbsp;сети Интернет на&nbsp;Сайте. При
            несогласии
            Пользователя с&nbsp;внесенными изменениями он&nbsp;обязан удалить все имеющиеся у&nbsp;него материалы Сайта,
            после
            чего прекратить использование материалов и&nbsp;сервисов Сайта. Ваше регулярное посещение данного Сайта
            считается
            вашим убедительным принятием измененного соглашения, поэтому&nbsp;Вы обязаны регулярно просматривать
            настоящее
            Соглашение и&nbsp;дополнительные условия или уведомления, размещенные на&nbsp;Сайте.
        </p>
        <p>
            <b>3. Обязательства Пользователя</b>
        </p>
        <p>
            3.1. Пользователь соглашается не&nbsp;предпринимать действий, которые могут рассматриваться как нарушающие
            российское законодательство или нормы международного права, в&nbsp;том числе в&nbsp;сфере интеллектуальной
            собственности, авторских и/или смежных правах, а&nbsp;также любых действий, которые приводят или могут
            привести к&nbsp;нарушению
            нормальной работы Сайта и&nbsp;сервисов Сайта.
        </p>
        <p>
            3.2. Любые средства индивидуализации, в&nbsp;том числе товарные знаки и&nbsp;знаки обслуживания, а&nbsp;равно
            логотипы и&nbsp;эмблемы, содержащиеся на&nbsp;страницах Сайта, являются интеллектуальной собственностью их&nbsp;правообладателей.
            Пользователю Сайта запрещено воспроизводить или иным способом использовать указанные средства
            индивидуализации и/или
            их&nbsp;элементы без предварительного письменного разрешения соответствующих правообладателей.
        </p>
        <p>
            3.3. Компания стремится обеспечить, однако не&nbsp;контролирует и&nbsp;не&nbsp;гарантирует
            конфиденциальность и&nbsp;охрану
            любой информации, размещенной на&nbsp;Сайте или полученной с&nbsp;Сайта. Компания принимает разумные меры в&nbsp;целях
            недопущения несанкционированного разглашения размещенной Пользователем на&nbsp;Сайте информации третьим
            лицам,
            однако не&nbsp;несет ответственность в&nbsp;случае, если такое разглашение было допущено. В&nbsp;этой связи,
            передача информации на&nbsp;Сайт означает согласие Пользователя на&nbsp;любое воспроизведение,
            распространение,
            раскрытие и&nbsp;иное использование такой информации. Размещая информацию и&nbsp;материалы, Пользователь
            также
            гарантирует, что обладает всеми правами и&nbsp;полномочиями, необходимыми для этого, с&nbsp;учетом условий
            настоящего Соглашения и&nbsp;что такое размещение не&nbsp;нарушает охраняемые законом права и&nbsp;интересы
            третьих
            лиц, международные договоры и&nbsp;действующее законодательство Российской Федерации.
        </p>
        <p>
            3.4. Пользователь самостоятельно несет ответственность за&nbsp;любую информацию и&nbsp;материалы,
            размещенные на&nbsp;Сайте.
            Компания не&nbsp;инициирует размещение указанной информации, не&nbsp;выбирает получателей информации, не&nbsp;влияет
            на&nbsp;содержание и&nbsp;целостность размещаемой информации, а&nbsp;также в&nbsp;момент размещения
            Пользователем
            информации на&nbsp;Сайте не&nbsp;знает и&nbsp;не&nbsp;может знать, нарушает&nbsp;ли такое размещение
            действующее
            законодательство Российской Федерации, однако Компания вправе отслеживать, просматривать и/или удалять любую
            информацию и&nbsp;материалы, размещенные Пользователем на&nbsp;Сайте.
        </p>
        <p>
            При размещении любой информации и&nbsp;материалов Пользователь не&nbsp;становится соавтором Сайта и&nbsp;отказывается
            от&nbsp;каких-либо претензий на&nbsp;такое авторство в&nbsp;будущем. Компания не&nbsp;выплачивает
            Пользователю
            авторского или любого иного вознаграждения, как в&nbsp;период, так и&nbsp;по&nbsp;истечении срока действия
            настоящего Соглашения.
        </p>
        <p>
            3.5. В&nbsp;случае предъявления третьими лицами претензий Компании, связанных с&nbsp;нарушением
            Пользователем
            условий настоящего Соглашения, а&nbsp;равно с&nbsp;размещенной Пользователем информацией на&nbsp;Сайте,
            указанный
            Пользователь обязуется самостоятельно урегулировать такие претензии, а&nbsp;также возместить Компании все
            понесенные
            убытки и&nbsp;потери, включая возмещение штрафов, судебных расходов, издержек и&nbsp;компенсаций.
        </p>
        <p>
            3.6. Компания не&nbsp;несет ответственности за&nbsp;посещение Пользователем, а&nbsp;также любое
            использование им&nbsp;внешних
            ресурсов (сайтов третьих лиц), ссылки на&nbsp;которые могут содержаться на&nbsp;Сайте. Компания не&nbsp;несет
            ответственности за&nbsp;точность, надежность, достоверность и&nbsp;безопасность любой информации,
            материалов,
            рекомендаций и&nbsp;сервисов, размещенных на&nbsp;внешних ресурсах. Использование внешних ресурсов
            осуществляется
            Пользователем добровольно, исключительно по&nbsp;собственному усмотрению и&nbsp;на&nbsp;свой риск.
        </p>
        <p>
            3.7. Компания стремится к&nbsp;обеспечению достоверности информации, размещенной на&nbsp;Сайте, однако не&nbsp;несет
            ответственности за&nbsp;любые неточности и/или недостоверность информации, а&nbsp;равно сбои в&nbsp;работе
            предоставляемых через Сайт сервисов. Пользователь согласен с&nbsp;тем, что Компания не&nbsp;несет
            ответственность и&nbsp;не&nbsp;имеет
            прямых или косвенных обязательств перед Пользователем в&nbsp;связи с&nbsp;любыми возможными или возникшими
            потерями
            или убытками, связанными с&nbsp;любым содержанием Сайта, интеллектуальной собственностью, товарами или
            услугами,
            доступными на&nbsp;нем или полученными через внешние сайты или ресурсы либо иные ожидания Пользователя,
            которые
            возникли в&nbsp;связи с&nbsp;использованием размещенной на&nbsp;Сайте информации или ссылки на&nbsp;внешние
            ресурсы.
        </p>
        <p>
            Ни&nbsp;при каких условиях, включая, но&nbsp;не&nbsp;ограничиваясь невнимательностью или небрежностью
            Пользователя,
            Компания не&nbsp;несет ответственности за&nbsp;любой ущерб (прямой или косвенный, случайный или
            закономерный),
            включая, но&nbsp;не&nbsp;ограничиваясь потерей данных или прибылей, связанной с&nbsp;использованием или
            невозможностью использования Сайта, информации, файлов или материалов на&nbsp;нем, даже если Компания или ее&nbsp;представители
            были предупреждены о&nbsp;возможности такой потери. В&nbsp;случае, если использование Сайта приведёт к&nbsp;необходимости
            дополнительного обслуживания, исправления или ремонта любого оборудования, а&nbsp;равно восстановления
            данных, все
            связанные с&nbsp;этим затраты оплачиваются Пользователем.
        </p>
        <p>
            3.8. Вся представленная на&nbsp;Сайте информация предоставляется «как есть», без каких-либо гарантий, явных
            или
            подразумеваемых. Компания полностью, в&nbsp;той мере, в&nbsp;какой это разрешено законом, отказывается от&nbsp;какой-либо
            ответственности, явной или подразумеваемой, включая, но&nbsp;не&nbsp;ограничиваясь неявными гарантиями
            пригодности к&nbsp;использованию,
            а&nbsp;также гарантиями законности любой информации, продукта или услуги, полученной или приобретенной с&nbsp;помощью
            этого Сайта.
        </p>
        <p>
            3.9. Пользователь согласен, что все материалы и&nbsp;сервисы Сайта или любая их&nbsp;часть могут
            сопровождаться
            рекламой, размещение которой не&nbsp;инициирует и&nbsp;не&nbsp;контролирует Компания. Пользователь согласен
            с&nbsp;тем,
            что Компания не&nbsp;несет какой-либо ответственности и&nbsp;не&nbsp;имеет каких-либо обязательств в&nbsp;связи
            с&nbsp;такой
            рекламой.
        </p>
        <p>
            <b>4. Условия обработки и&nbsp;использования персональных данных</b>
        </p>
        <p>
            Принимая условия настоящего Соглашения Пользователь выражает свое согласие&nbsp;на:
        </p>
        <p>
            4.1. Предоставление своих персональных данных, включающих имя, адрес электронной почты, номер контактного
            телефона
            для их&nbsp;обработки Компанией свободно, своей волей и&nbsp;в&nbsp;своем интересе.
        </p>
        <p>
            4.2. Цель обработки персональных данных:
        </p>
        <p>
            —&nbsp;предоставление Пользователю услуг Сайта;
        </p>
        <p>
            —&nbsp;направление уведомлений, касающихся услуг Сайта;
        </p>
        <p>
            —&nbsp;подготовка и&nbsp;направление ответов на&nbsp;запросы Пользователя;
        </p>
        <p>
            —&nbsp;выполнение регулярной информационной рассылки;
        </p>
        <p>
            —&nbsp;направление информации о&nbsp;продуктах и&nbsp;услугах
        </p>
        <p>
            Компании, а&nbsp;также рекламно-информационных сообщений, касающихся продукции и&nbsp;услуг Компании и&nbsp;ее&nbsp;партнеров.
        </p>
        <p>
            4.3. Перечень действий с&nbsp;персональными данными, на&nbsp;которые Пользователь выражает свое согласие:
            сбор,
            систематизация, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание,
            передача
            третьим лицам для указанных выше целей, а&nbsp;также осуществление любых иных действий, предусмотренных
            действующим
            законодательством&nbsp;РФ как неавтоматизированными, так и&nbsp;автоматизированными способами.
        </p>
        <p>
            4.4. Компания обязуется принимать все необходимые меры для защиты персональных данных Пользователя от&nbsp;неправомерного
            доступа или раскрытия.
        </p>
        <p>
            4.5. Настоящее согласие действует до&nbsp;момента его отзыва Пользователем путем направления
            соответствующего
            уведомления заказным письмо с&nbsp;уведомлением на&nbsp;адрес Компании.
        </p>
        <p>
            <b>5. Прочие положения</b>
        </p>
        <p>
            5.1. Использование материалов и&nbsp;сервисов Сайта, а&nbsp;равно размещение на&nbsp;нем материалов
            Пользователя,
            регулируется нормами действующего законодательства Российской Федерации. Все возможные споры, вытекающие из&nbsp;настоящего
            Соглашения или связанные с&nbsp;ним, подлежат разрешению в&nbsp;соответствии с&nbsp;действующим
            законодательством
            Российской Федерации по&nbsp;месту нахождения Компании.
        </p>
        <p>
            5.2. Ничто в&nbsp;Соглашении не&nbsp;может пониматься как установление между Пользователем и&nbsp;Компанией
            агентских отношений, отношений товарищества, отношений по&nbsp;совместной деятельности, отношений личного
            найма,
            либо каких-то иных отношений, прямо не&nbsp;предусмотренных Соглашением.
        </p>
        <p>
            5.3. Признание судом какого-либо положения Соглашения недействительным или не&nbsp;подлежащим
            принудительному
            исполнению не&nbsp;влечет недействительности иных положений Соглашения.
        </p>
        <p>
            5.4. Бездействие со&nbsp;стороны Компании в&nbsp;случае нарушения кем-либо из&nbsp;Пользователей положений
            Соглашения не&nbsp;лишает Компанию права предпринять соответствующие действия в&nbsp;защиту своих интересов
            и&nbsp;защиту
            авторских прав на&nbsp;охраняемые в&nbsp;соответствии с&nbsp;законодательством материалы Сайта позднее.
            Пользователь
            подтверждает, что ознакомлен со&nbsp;всеми пунктами настоящего Соглашения и&nbsp;безоговорочно принимает&nbsp;их.
        </p>
        <p>
            <i>По&nbsp;всем вопросам, связанным с&nbsp;нарушением авторских прав Компании, незаконного использования
                материалов
                Сайта или размещением ложной, вводящей в&nbsp;заблуждение информации о&nbsp;Компании, просим обращаться
                по&nbsp;следующим
                контактным данным:</i>
        </p>
        <p>
            ООО «Сибирикс», 656006, Россия, г. Барнаул, ул. Балтийская, д.&nbsp;24, Телефон: +7&nbsp;495 215-22-19
        </p>
    </div>
</div>
</body>
</html>
